@import '../../../assets/styles/mixins.scss';

.chat {
  display: flex;
  height: calc(100vh - 80px);
  &__inner {
    background: url('../../../assets/images/messagingBackground.svg');
    background-size: cover;
    flex: 3;
    display: flex;
    flex-direction: column;
    @include media2 {
      display: none;
      &.show {
        display: flex;
        height: 100vh;
      }
    }
  }
  @include media2 {
    height: 100%;
  }
}
