@import '../../../assets/styles/mixins.scss';

.registration {
  display: flex;
  min-height: 100vh;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url('../../../assets/images/authBackground.svg');
    background-color: #eff5ff;
    background-size: cover;
  }
  &__span {
    width: 50%;
    @include media2 {
      display: none;
    }
  }
  @include media2 {
    &::after {
      content: '';
      position: absolute;
      z-index: -5;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 742px);
      background-image: url('../../../assets/images/authBackgoundMobile.svg');
      background-color: #eff5ff;
      background-size: cover;
      border-radius: 0 0 16px 16px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    min-height: calc(100vh - 20px);
    @include media2 {
      width: 100%;
      min-height: 100%;
      padding: 123px 14px 14px 14px;
      margin: 0;
    }
  }
  &__img {
    width: 50%;
    height: 100%;
    background-color: #eff5ff;
    @include media2 {
      display: none;
    }
  }
  &__logo {
    margin-bottom: 16px;
    @include media2 {
      width: 84px;
      margin-top: auto;
    }
  }
  &__titleBlue {
    color: #5e93e7;
  }
  &__titleLightBlue {
    color: #b3cdf8;
  }
  &__subtitle {
    margin: 24px 0 48px 0;
    @include media2 {
      margin: 8px 0 0 0;
    }
  }
}
