@import '../../../assets/styles/mixins.scss';


.card {
  padding: 12px 0 12px 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #fff;
  border: 0;
  width: 100%;
  text-align: left;
  @include media2 {
    margin-bottom: 12px;
  }
  &__avatar {
    margin-right: 12px;
  }
  &__title {
    display: block;
    margin-bottom: 4px;
    transition: all 0.2s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__text {
    transition: all 0.2s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &.prev {
      color: #5E93E7;
    }
  }
  &:hover {
    background-color: #5c98f1;
    & .card__title {
      color: #fff;
    }
    & .card__text {
      color: #fff;
    }
  }
  &.active {
    background-color: #5c98f1;
    & .card__title {
      color: #fff;
    }
    & .card__text {
      color: #fff;
    }
  }
  div {
    overflow: hidden;
  }
}
