.messaging {
  overflow: hidden;
  max-height: calc(100vh - 220px);
  &__inner {
    height: calc(100vh - 255px);
    overflow-y: auto;
    display: inline-flex;
    scrollbar-color: #458245 #714826; 
    &__wrap {
      margin-top: auto;
    }
  }
}
