@import '../../../assets/styles/mixins.scss';

.messageList {
  overflow: hidden;
  height: calc(100vh - 255px);
  overflow-y: auto;
  display: inline-flex;
  &__inner {
    margin-top: auto;
  }
  @include media1 {
    height: calc(100vh - 222px);
  }
  @include media1 {
    height: calc(100vh - 120px);
  }
}
