.messageList { 
  overflow: hidden;
  height: 100%;
  &__inner {
    height: 100%;
    overflow-y: auto;
    display: inline-flex;
    scrollbar-color: #458245 #714826; 
    &__wrap {
      margin-top: auto;
    }
  }
}
