@import '../../../assets/styles/mixins.scss';

.registrationForm {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  &__field {
    margin-bottom: 10px;
    @include media2 {
      margin-bottom: 4px;
    }
  }
  &__button {
    &:first-child {
      margin-right: 12px;
      @include media2 {
        margin-bottom: 8px;
      }
    }
  }
  &__buttons {
    display: flex;
    margin-top: 18px;
    @include media2 {
      display: block;
      margin-top: 30px;
    }
  }
  &__captcha {
    display: flex;
    align-items: center;
    .field {
      flex: 1;
      margin-right: 12px;
    }
  }
  @include media2 {
    margin-top: 40px;
    max-width: 100%;
  }
}