@import '../../../assets/styles/mixins.scss';

.field {
  display: flex;
  flex-direction: column;
  height: 100px;
  position: relative;
  &.error::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    right: 15px;
    top: 43px;
    background-image: url('../../../assets/images/errorInputIcon.svg');
    background-size: cover;
    @include media2 {
      top: 38px;
    }
  }
  &__label {
    margin-bottom: 4px;
  }
  @include media2 {
    height: 90px;
  }
}