@import '../../../assets/styles/mixins.scss';

.sendButton {
  padding: 28px;
  border: 0;
  cursor: pointer;
  background: 0;
  outline: none;
  @include media1 {
    img {
      height: 16px;
      width: 16px;
    }
    padding: 16px;
  }
}