.input {
  padding: 16px;
  border: 1px solid #b3cdf8;
  border-radius: 8px;
  outline: none;
  line-height: 23px;
  font-size: 15px;
  font-weight: 400;
  width: 350px;
  color: #333333;
  &:focus {
    border: 1px solid #5c98f1;
  }
  &::placeholder {
    color: #9f9f9f;
  }
  &:valid {
    border: 1px solid #5c98f1;
  }
  &.error {
    border: 1px solid #fb6262;
  }
  &__errorText {
    color: rgba(251, 98, 98, 1);
  }
}
