.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  &__img {
    width: 50%;
    height: 100vh;
    background-color: #eff5ff;
  }
  &__logo {
    margin-bottom: 16px;
  }
  &__titleBlue {
    color: #5E93E7;
  }
  &__titleLightBlue {
    color: #B3CDF8;
  }
  &__subtitle {
    margin: 24px 0 48px 0;
  }
}
