.message {
  max-width: 47%;
  margin: 5px 20px;
  display: flex;
  &__right {
    margin-left: auto;
    .message__text {
      background-color: #e9f2ff;
    }
  }
  &__text {
    display: inline-block;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #c5daff;
    margin-left: auto;
  }
}
