@import '../../../assets/styles/mixins.scss';

.message {
  max-width: 47%;
  margin: 10px 20px;
  display: flex;
  @include media1 {
    max-width: 90%;
  }
  &__image {
    margin-right: 12px;
    margin-left: 4px;
  }
  &__right {
    margin-left: auto;
    .message__inner {
      background-color: #e9f2ff;
      margin-left: auto;
      text-decoration: none;
      &::before {
        content: '';
        right: -9px;
        top: -1px;
        position: absolute;
        width: 30px;
        height: 12px;
        border-left: 0 solid transparent;
        border-right: 2px solid #c5daff;
        border-top: 1px solid #c5daff;
        background: #e9f2ff;
        transform: skewX(-50deg) skewY(0deg);
      }
      &::after {
        display: none;
      }
    }
  }
  &__inner {
    border: 1px solid #c5daff;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    max-width: 100%;
    word-break: break-all;
    &::after {
      content: '';
      left: -9px;
      top: -1px;
      position: absolute;
      width: 30px;
      height: 12px;
      border-right: 0 solid transparent;
      border-left: 2px solid #c5daff;
      border-top: 1px solid #c5daff;
      background: #fff;
      z-index: 0;
      transform: skewX(50deg) skewY(0deg);
    }
  }
  &__file {
    display: flex;
    text-decoration: none;
    padding: 12px;
  }
  &__text {
    padding: 12px;
  }
}