@import '../../../assets/styles/mixins.scss';

.activity {
  padding: 24px;
  z-index: 5;
  background-color: #fff;
  display: flex;
  align-items: center;
  &__title {
    display: block;
    margin-bottom: 4px;
  }
  &__subtitle {
    color: rgba(148, 148, 148, 1);
  }
  &__avatar {
    display: none;
    margin: 0 12px;
    @include media2 {
      display: inline;
      width: 40px;
      height: 40px;
    }
  }
  @include media1 {
    padding: 29px;
  }
  @include media2 {
    padding: 16px;
  }
}
