.button {
  border-radius: 8px;
  background-color: #5C98F1;
  color: #fff;
  border: 0;
  width: 233px;
  height: 56px;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    background-color: #4583DE;
  }
  &:active {
    background-color: #2C6AC7;
  }
  &:disabled {
    background-color: #D1D1D1;
    cursor: not-allowed;
  }
}