@import '../../../assets/styles/mixins.scss';

.cardList {
  height: calc(100vh - 80px);
  border-right: 1px solid #88ABE3;
  padding-top: 20px;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  &__loader {
    display: none;
    @include media2 {
      display: block;
    }
  }
  @include media1 {
    flex: 2;
  }
  @include media2 {
    height: calc(100vh - 64px);
    border-right: 0;
    &.disable {
      display: none;
    }
  }
}