@import '../../../assets/styles/mixins.scss';

.profileIcon {
  width: 48px;
  height: 48px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  @include media2 {
    width: 36px;
    height: 36px;
  }
  &:hover {
    background-color: #f4f4f4;
  }
}
